@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;

  --color-bg: #242424;
  --color-white: rgb(255, 255, 255);
  --color-light: rgba(255, 255, 255, 0.6);
  --color-disabled: rgba(255, 255, 255, 0.4);
  --color-disabled-text: rgba(255, 255, 255, 0.2);

  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.6rem;
  --font-size-xxxl: 2.4rem;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;

  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;

  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.7;
  background-image: url(@assets/bg-texture4.png);
}
